<h1>{{movie.title}}</h1>
<img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"/>
<p>{{movie.overview}}</p>
<li>Release Date: {{movie.release_date}}</li>
<li>Movie runtime: {{movie.runtime}} minutes</li>
{{!-- *TODO: Fix languages --}}
{{#each movie.spoken_languages}}
    <li>{{movies.spoken_languages.names}}</li>
{{/each}}
<li>Movie Revenue: {{movie.revenue}}</li>