<!-- views/reviews-edit.handlebars-->

<form method="POST" action="/movies/{{review.movieId}}/reviews/{{review._id}}?_method=PUT">


    <fieldset>
        <legend>Edit "{{review.movieTitle}}"</legend>
        <!--Description-->
        <p>
            <label for="review-title">Description</label>
            <textarea id="review-description" name="description" rows="10"/>{{review.description}}</textarea>
        </p>
        <!--Button-->
        <p>
            <button type="submit">Update Review</button>
        </p>
        <p>
            <button type="reset">Cancel</button>
        </p>
        <input type="hidden" value="{{review.movieId}}" name="movieId">
     </fieldset>
</form>
